*
{
    margin: 0;
    padding: 0;
}
body
{
    background: lightgray;
    display: flex;
    min-height: 90vh;
}
.total
{
    background-color: teal;
    margin: auto;
    padding: 50px;
    border-radius: 15px;
    
}

.head
{
    display: flex;
    align-items: center;
    justify-content: center;
}

.heading
{
    color: white;
    font-size: 42px;
    margin: 35px;
}

.form
{
    align-items: center;
    justify-content: center;

}

.username
{
    color: white;
    border: none;
    background: none;
    box-shadow: 0px 2px 0px 0px white;
    width: 100%;
    outline: none;
    font-size: 16px;

}

.password
{
    color: white;
    border: none;
    background: none;
    box-shadow: 0px 2px 0px 0px white;
    width: 100%;
    outline: none;
    font-size: 16px;
    margin: 0px;
}

.username::placeholder, .password::placeholder
{
    color:antiquewhite;
}
.login
{
    background: none;
    text-decoration: none;
    color: white;
    box-shadow: 0px 0px 0px 2px white;
    border-radius: 3px;
    padding: 5px 16px;
    transition: 0.5s;
}
.login:hover
{
    color: black;
    background-color: white;
    transition: 0.5s;
}



.signup-btn:hover
{
    color: black;
    background-color: white;
    transition: 0.5s;
}

.signup-btn
{
    background: none;
    text-decoration: none;
    color: white;
    box-shadow: 0px 0px 0px 2px white;
    border-radius: 3px;
    padding: 5px 16px;
    transition: 0.5s;
    float: right;

}

.form label
{
    color: white;
    
}

.l{
    padding-top: 25px;
}

.r 
{
    margin-bottom: 25px;
}

.t 
{
    margin-top: 25px;
    margin-bottom: 25px;
}

.qqq
{
    padding: 10px 5px;
    text-align: center;
    font-size: 15px;
    font-family: sans-serif;
    color: black;
    background-color: lightcoral;
    border-radius: 6px;
    border-width: 4px;
}